/* Fullscreen sea background */
.login-container {
  background-image: url('/images/login/sea-with-red-sky.jpg'); 
  // background-image: url('/images/login/sea-with-blue-sky.jpg');
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 4rem;
  /* Space for footer */
}

/* Login form container */
.login-form {
  background: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  padding: 2.5rem;
  border-radius: 12px;
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.25);
  width: 100%;
  max-width: 400px;
  color: white;
  border: 1px solid rgba(255, 255, 255, 0.25);
}

/* Form heading */
.login-form h2 {
  margin-bottom: 2rem;
  text-align: center;
  font-size: 2rem;
  font-weight: 700;
}
.login-form h3 {
  margin-bottom: 3rem;
  text-align: center;
  font-size: 1.5rem;
}

/* Form group layout */
.form-group {
  margin-bottom: 1.2rem;
}

.form-group label {
  display: block;
  font-weight: 600;
  margin-bottom: 0.5rem;
}

.form-group input {
  width: 100%;
  padding: 0.6rem;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.form-group input:focus {
  outline: none;
  border-color: #0077b6;
}

/* Error messages */
.error {
  color: red;
  font-size: 0.85rem;
  margin-top: 0.3rem;
}

/* Submit button */
button {
  width: 100%;
  padding: 0.75rem;
  font-size: 1rem;
  background-color: #0077b6;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #005f87;
}

button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.forgot-password {
  text-align: right;
  margin-bottom: 1rem;
}

.forgot-password a {
  font-size: 0.9rem;
  color: black;
  text-decoration: none;
}

.forgot-password a:hover {
  text-decoration: underline;
}

/* Success message */
.success {
  color: #00c853;
  font-size: 0.85rem;
  margin-top: 0.5rem;
}

/* Back to login link */
.back-to-login {
  margin-top: 1.5rem;
  text-align: center;
}

.back-to-login a {
  color: white;
  text-decoration: none;
  font-weight: 500;
}

.back-to-login a:hover {
  text-decoration: underline;
}

.footer {
  font-size: 0.85rem;
  border-top: 2px solid #ffc107;
  background: linear-gradient(90deg, var(--secondary-color), var(--primary-color)) !important;
  color: #fff;
  box-shadow: 0 -0.25rem 0.5rem rgba(0, 0, 0, 0.1);
  padding: 0.75rem 1.5rem;

  a {
    color: white;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}