/* You can add global styles to this file, and also import other style files */

:root {
  --primary-color: #1abc9c;
  --secondary-color: #333;
  --hover-color: black;
}

.mycolour{
  color: var(--primary-color) !important;
}

.mybackground{
  background-color: var(--primary-color) !important;
}

.mybackground2{
  background-color: var(--secondary-color) !important;
}

.fs-7 {
  font-size: 0.75rem !important; /* ~12px */
}
/* ============================Button===START=========================*/
.custom-btn {
  display: inline-block;
  font-weight: 400;
  line-height: 1.5;
  color: var(--primary-color) !important;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  cursor: pointer;
  user-select: none;
  background-color: transparent;
  border: 1px solid transparent;
  padding: 0.25rem 0.5rem;
  font-size: 0.875rem;
  border-radius: 0.25rem;

  border-color: var(--primary-color) !important;

  &:not(:disabled):hover {
    background-color: var(--primary-color) !important;
    color: var(--hover-color) !important;
    font-weight: bold !important;
  }

  &:disabled {
    opacity: 0.4;
    cursor: not-allowed;
  }
}

.custom-btn-active {
  font-weight: bold !important;
  background-color: var(--primary-color) !important;
  color: var(--hover-color) !important;
}

/* ============================Button===END=========================*/


/* ============================Input===START=========================*/
.custom-input,
.custom-input-textarea {
  display: block;
  width: 100%;
  padding: 0.25rem 0.5rem;
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.375rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;

  &:focus {
    color: #212529;
    background-color: #fff;
    border-color: var(--primary-color) !important;
    outline: 0;
    box-shadow: 0 0 0 0.25rem var(--primary-color) !important;
  }
}

.custom-input-textarea {
  display: inline-block;
  min-width: 20ch;
}

.custom-input-colour {
  &:focus {
    border-color: var(--primary-color) !important;
    box-shadow: 0 0 0 0.25rem var(--primary-color) !important;
  }
}
/* ============================Input===END=========================*/


// ============================Loader Overlay===START=========================
.loader-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(255, 255, 255, 0.7);
    z-index: 9999;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--primary-color) !important;
}

.spin-the-circle {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.7);
    z-index: 9999;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--primary-color) !important;
}

// ===========================Loader Overlay===END=========================

// ============================Table===START=========================
@mixin min-width($value) {
  min-width: $value;
}

.min-max-width-4 { 
  min-width: 4vw;
  max-width: 4vw;
}

.min-max-width-28 { 
  min-width: 28vw;
  max-width: 28vw;
}

.min-max-width-60 { 
  min-width: 60vw;
  max-width: 60vw;
}

.min-max-width-20 { 
  min-width: 20vw;
  max-width: 20vw;
}
.min-max-width-6 { 
  min-width: 6vw;
  max-width: 6vw;
}
.min-max-width-7 { 
  min-width: 7vw;
  max-width: 7vw;
}

.min-max-width-8 { 
  min-width: 8vw;
  max-width: 8vw;
}

.min-max-width-15 { 
  min-width: 15vw;
  max-width: 15vw;
}
.max-width-15 { 
  max-width: 15vw;
}
.min-max-width-50 { 
  min-width: 50vw;
  max-width: 50vw;
}

.min-width-4 { @include min-width(4vw); }
.min-width-6 { @include min-width(6vw); }
.min-width-60 { @include min-width(60vw); }
.min-width-8 { @include min-width(8vw); }

.max-width-8 { 
  max-width: 8vw;
}

.max-width-12 { 
  max-width: 12vw;
}

.table-heading {
    color: var(--primary-color) !important;
    font-size: 18px;
}

.custom-table-header,
.custom-table-footer {
    background-color: #f8f9fa;
    border: 1px solid #dee2e6;
}

.task-name-in-subtask{
  max-width: 60vw;
  white-space: normal;
  word-break: normal;        /* Break at spaces */
  overflow-wrap: break-word; /* Break long words if needed */
}

.task-name-show {
  text-align: left;
  min-width: 20vw;
  max-width: 20vw;

  /* Text wrapping */
  white-space: normal;
  word-break: normal;        /* Break at spaces */
  overflow-wrap: break-word; /* Break long words if needed */
  padding: 0.5rem;

  position: sticky;
  left:0;
  z-index: 5; /* Keep above body rows */
  border-right: 3px solid #dee2e6 !important;
  border-left: 3px solid #dee2e6 !important;
}

.custome-text-wrap-a{
  max-width: 20vw;
  white-space: normal;
  word-break: normal;        /* Break at spaces */
  overflow-wrap: break-word; /* Break long words if needed */
}

.action-btn-sticky {
  position: sticky;
  left:20vw;
  z-index: 4; /* Keep above body rows */
}

/* ===== Table Container ===== */
.custom-table-responsive {
  max-height: 66vh;
  overflow-y: auto;
  position: relative;
}

.custom-heading-done {
  text-align: left;
  min-width: 50vw;
  max-width: 50vw;


  padding: 0.5rem;

  position: sticky;
  left:0;
}


.custom-table-header-clr {
  th {
    background-color: #f8f9fa;
  }
}

.custom-table-header-clr-done {
  th {
    background-color: #f8f9fa;
    border-bottom: 3px solid #dee2e6  !important;
    z-index: 4;
  }
}

.display-text-area-data {
  text-align: left !important;
  white-space: pre-wrap;     /* Preserve new lines and wrap */
  word-break: break-word;    /* Break long words */
  overflow-wrap: break-word; /* Extra insurance */
  padding: 0;
}

// Bordered table variant
.table-bordered-my {
    border-collapse:collapse;
  th, td {
    padding: 0.1rem 0.2rem;
    border: 1px solid #dee2e6;
  }
}

// ============================Table===END=========================


// ============================Custom  heading===START=========================
.custom-heading {
    margin-top: 12px;
    background-color: #f9f9f9;
    color: var(--primary-color) !important;
    font-weight: 600;
    font-size: 1.15rem;
    padding: 12px 20px;
    border-left: 5px solid var(--primary-color) !important;
    border-right: 5px solid var(--primary-color) !important;
    border-radius: 10px;
    box-shadow: 0 1px 3px var(--primary-color) (0, 0, 0, 0.08);
    /* Subtle elevation */
    letter-spacing: 0.3px;
}

// ============================Custom  heading===END=========================

.letter-avatar {
  width: 36px;
  height: 36px;
  //background-color: var(--primary-color) !important;
  color: #212529;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  font-weight: 600;
  font-size: 1rem;
  text-transform: uppercase;
}

.my-cursor-pointer{
  //text-decoration: none;
  cursor: pointer;
}