.gup-header {
  background-color: #fff;
  z-index: 1040;
}

.gup-logo {
  font-weight: bold;
  font-size: 1.2rem;
}

.gup-toggle-btn {
  background: none;
  border: none;
  font-size: 1.2rem;
}

.gup-search-box {
  max-width: 300px;
}

.gup-avatar {
  cursor: pointer;
}

.gup-sidebar {
  width: 220px;
  min-width: 220px;
  max-width: 220px;
  flex-shrink: 0;
  transition: all 0.3s ease;
}

.gup-content {
  overflow-y: auto;
  height: calc(100vh - 56px - 40px);
}

.theme-color-box {
  position: relative;
  width: 28px;
  height: 28px;
  border: 1px solid black;
  border-radius: 4px;
  cursor: pointer;
  transition: transform 0.2s;

  &:hover {
    transform: scale(1.1);
    border-color: #000;
    opacity: 1;

    .theme-overlay {
      opacity: 1;
    }
  }
}

.theme-overlay {
  position: absolute;
  bottom: 106%;
  left: 50%;
  transform: translateX(-50%);
  background: rgba(0, 0, 0, 0.8);
  color: white;
  font-size: 12px;
  padding: 2px 6px;
  border-radius: 4px;
  white-space: nowrap;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.2s;
  z-index: 10;
}

.custom-arrow {
  display: block;
  background-color: var(--primary-color) !important;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  color: var(--hover-color) !important;
  font-weight: bold;
  text-align: left;
  clip-path: polygon(0 0, 90% 0, 100% 50%, 90% 100%, 0 100%);
  border: none;
  border-radius: 0.25rem;
  text-decoration: none;
  cursor: default;
}

.footer {
  font-size: 0.85rem;
  border-top: 2px solid #ffc107;
  background: linear-gradient(90deg, var(--secondary-color), var(--primary-color)) !important;
  color: #fff;
  box-shadow: 0 -0.25rem 0.5rem rgba(0, 0, 0, 0.1);
  padding: 0.75rem 1.5rem;

  a {
    color: white;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}

.mydisabled {
  pointer-events: none;
  opacity: 1;
}

.position-relative {
  position: relative;
}

.dropdown-menu-custom {
  right: 0;
}

.input-min-width-20 {
    min-width: 20vw;
}