// .custom-card-btn {
//   padding: 0;
//   border: none;
//   background: transparent;
//   width: 100%;
//   cursor: pointer;

//   &:focus {
//     outline: none;
//   }

//   .card {
//     transition: transform 0.3s ease, box-shadow 0.3s ease;
//     border-radius: 1rem;
//     overflow: hidden;
//     height: 100%; // keep equal height in row
//     transform-origin: center center;
//   }

//   .card:hover {
//     transform: scale(1.05);
//     box-shadow: 0 14px 32px rgba(0, 0, 0, 0.18);
//   }

  .img-wrapper {
    height: 160px; // consistent image height
    overflow: hidden;

    img {
      width: 100%;
      height: 100%;
      object-fit: contain; // crop, no stretch
    }
  }

//   .card-body {
//     padding: 1.25rem;
//   }

//   .card-title {
//     font-size: 1.25rem;
//     color: #222;
//   }

//   .card-text {
//     font-size: 0.95rem;
//     min-height: 40px; // keep consistent layout
//   }
// }


.big-card {
    width: 100%;
    border-radius: 1rem;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    transform-origin: center center;
    padding: 1.25rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.hover-card {
  transition: transform 0.25s ease, box-shadow 0.25s ease;
  cursor: pointer;

  &:hover {
    transform: scale(1.07);
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
  }
}
