.overlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2000;
}

.alert-box {
  background: #fff;
  padding: 1.5rem;
  border-radius: 10px;
  width: 320px;
  min-width: 600px;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.25);

  h2 {
    margin: 0 0 0.5rem 0;
    font-size: 1.5rem;
    color: var(--primary-color) !important;
  }

  .form-group {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;

    label {
      font-weight: 500;
    }

    input {
      padding: 0.4rem;
      border: 1px solid #ccc;
      border-radius: 6px;
    }
  }

  .actions {
    display: flex;
    justify-content: flex-end;
    gap: 0.5rem;
  }
}
.modal {
    animation: fadeIn 0.3s ease-in-out;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}