.work-entry-edit-td {
  .work-entry-edit-btn {
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.2s ease;
    border: none;
  }

  &:hover {
    .work-entry-edit-btn {
      opacity: 1;
      pointer-events: auto;
    }
  }
}

.sticky-sub-task-name {
  position: sticky;
  left: 0;
  min-width: 28vw;
  max-width: 28vw;

}
